footer.flex{
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(100deg,black, rgba(18, 0, 177, 0.342) ,rgb(0, 0, 0), rgb(0, 0, 0));
  padding: 50px;

}

footer.flex ul li a{
  color: rgba(255, 255, 255, 0.575);
  padding: 10px;
  transition: 1s;
}
footer.flex ul li a:hover{
  color: rgb(255, 145, 0);
  padding: 10px;
  border: 1px solid rgba(255, 145, 0, 0.699);
  border-radius: 6px;
  transition: 1s;
}
footer.flex p{
  color: rgb(255, 153, 0);

}