

.about-video{
    position: relative;
    width: 50%;
    /* height: 200vh; */
    text-align: center;
  background-attachment: fixed;
  /* opacity: 0.5; */
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 10px;
/* background: red; */
}

.container-about{
  background: transparent;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  

  width: 90%;
  height: 100%;
  /* z-index: 100; */
}
.main-header-about{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.main-header-about h1{
  font-size: 30px;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5;
  border-radius: 20px;
  backdrop-filter: blur(7px);

  background: rgba(255, 255, 255, 0.048);
}
.section-0{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background: rgba(126, 126, 124, 0.074);
  width: 100%;
  margin-top: 50px;
  

}

.img-0 img{
  width: 400px;

}


.first-0{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 255, 0, 0.074); */

}
.img-first-0 img{

  width: 400px;
  border-radius: 50%;
}
.h1-0 h1,
.h1-1 h1{
  font-size: 20px;
  line-height: 1.9;
}
.h1-0 h1:first-of-type,
.h1-1 h1:first-of-type{
  font-size: 20px;
  background: rgba(50, 50, 50, 0.723);
  padding: 10px;
  border-radius: 20px;
}
.h1-0 h1:last-of-type,
.h1-1 h1:last-of-type{
  font-size: 20px;
  background: rgba(129, 63, 13, 0.263);
  padding: 10px;
  border-radius: 20px;
}

.brand{
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  width: 100%;
}
.brand img{
  /* background: red; */
  width: 300px;
  margin-left: 0px;
  border-radius: 50px;
}

/* ******************section-1************************ */
.section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background: rgba(126, 126, 124, 0.074);
  width: 100%;
  margin-top: 50px;
}
.first-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-sec-1 img{
  width: 500px;
  border-radius: 50%;

}

.sec-1 img{
  width: 500px;
  border-radius: 50%;
}

.sec-1 h1{
  
  font-size: 20px;
  background: rgba(50, 50, 50, 0.723);
  padding: 10px;
  border-radius: 20px;
  line-height: 2;
}

/* ************************************ */

.sction-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background: rgba(126, 126, 124, 0.074);
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}

.first-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-2 h1{
  font-size: 25px;
  background: rgba(50, 50, 50, 0.214);
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
}
.sction-2 .img-yellow {
  width: 300px;
  border-radius: 50px;
}
.h1-2 h1{
  font-size: 20px;
  background: rgba(250, 166, 101, 0.263);
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  line-height: 2;
  width: fit-content;

}

.h1-2 .h1-q {
  background: rgb(0, 0, 0);
  color: rgb(255, 128, 0);
  font-size: 35px;
}
.h1-2 .h1-a {
  background:rgb(255, 128, 0);
  color: rgb(0, 0, 0);
  font-size: 35px;
}

/* **********section-3**************** */

.section-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  /* background: rgba(126, 126, 124, 0.074); */
  background: linear-gradient(30deg,rgb(0, 53, 82), black,rgba(0, 242, 255, 0.192));

  width: 100%;
  margin-top: 50px;
  padding: 20px;
}
.final-header-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.final-header-3 img{
  width: 400px;

}

.final-h1-3 h1{
  font-size: 25px;
  background: rgb(55, 134, 150);
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  line-height: 2;
  
}

.final-h1-3 .dot{
  text-align: center;
  margin:40px 0px 0px 159px;
  background: transparent;
}

.cv-about img{
  width: 500px;
}

.first-cv{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.first-cv .video-tashfeer-text{
  width: 400px;
}
.cv-about{
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.title img{
  border-radius: 50%;
}
.title h1{
  font-size: 25px;
  background: rgb(37, 80, 89);
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  line-height: 2;

}

.title .span-0{
  font-size: 40px;
  background: linear-gradient(200deg, rgb(255, 255, 255), rgb(0, 255, 247),rgb(255, 255, 255));
  -webkit-background-clip: text;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-shadow: 0px 0px 19px black;
  
}

.title .span-1{
  font-size: 20px;
  color: rgb(0, 0, 0);
  
}

.title .span-2{
  font-size: 30px;
  color: rgb(212, 94, 227);
  
}
.title .span-3{
  font-size: 35px;
  color: rgb(243, 137, 71);
  
}
.title .span-4{
  font-size: 25px;
  color: rgb(244, 152, 152);
  
}
.title .span-5{
  font-size: 30px;
  background: linear-gradient(200deg, rgb(255, 0, 0), rgb(0, 255, 247),rgb(255, 255, 255));
  -webkit-background-clip: text;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-fill-color: transparent;  
}

.title .black{
  background: black;
}

.title .imogy{
  font-size: 50px;
}

@media (max-width: 1024px){
  .cv-about img {
    width: 340px;
}
}.cv-about img {
  width: 340px;
}
/* *********************************** */
@media (max-width: 820px){
  .img-0 img {
    width: 272px;
}
.main-header-about h1 {
  width: fit-content;

}
.brand img {
  width: 220px;

}
.first-1 {
  display: flex
;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.img-sec-1 img {
  width: 330px;
}
.sec-1 h1 {
  font-size: 28px;

}
.sec-1 img {

  margin-top: 50px;
}
.h1-2 h1 {
  font-size: 28px;
 
}
.final-h1-3 h1 {
  font-size: 23px;

}
.title h1 {
  font-size: 28px;
  
}
.title .span-1 {
  font-size: 44px;
  color: rgb(0, 0, 0);
}
}
/* ***************************** */
@media (max-width: 768px){
  .img-0 img {
    width: 280px;
}
.main-header-about h1 {
  font-size: 23px;
  width: fit-content;

}
.brand img {
  width: 200px;

}
.first-1 {

  flex-direction: column;
}
.sec-1 img {

  margin-top: 50px;
}
.sec-1 h1 {
  font-size: 26px;

}
.img-sec-1 img {
  width: 346px;
}
.h1-2 h1 {
  font-size: 24px;
  
}
}
/* ************************** */
@media (max-width: 431px){
  .first-0 {
 
    flex-direction: column;
}
.main-header-about h1 {
    /* width: 100px; */
    font-size: 16px;
    margin-left: -86px;
    width: fit-content;

}
.img-0 img {
  width: 200px;
}
.brand{
  flex-direction: column;
  /* width: 200%; */
}
.brand img {
  width: 290px;
 
}

.first-1 {

  flex-direction: column;
}
.img-first-0 img {
  width: 340px;
}
.img-sec-1 img {
  width: 340px;
}
.sec-1 img {
  margin-top: 50px;
  width: 340px;
}
.first-2 {

  flex-direction: column;
}
.final-header-3 {

  flex-direction: column;
}
.final-h1-3{

    top: 340px;
    position: relative;

}
.final-header-3 img {
  width: 312px;
  top: -1039px;
  position: relative;
}
.cv-about img {
  width: 175px;
}
.first-cv .video-tashfeer-text{
  width: 200px;
}
.title h1 {
  font-size: 23px;


}
.about-video{
width: 250px;
        }
}