.splash-screen p span.tow{
    font-size: 30px;
    color: rgb(165, 97, 42);
}

.splash-screen p span.tow1{
    font-size: 25px;
    color: rgb(241, 109, 0);
}
.splash-screen p span.tow2{
    font-size: 30px;
    color: rgb(165, 97, 42);
}
.splash-screen p span.tow3{
    font-size: 35px;
    color: rgb(255, 234, 0);
}
.splash-screen p span.tow4{
    font-size: 30px;
    color: rgb(129, 170, 237);
}
.splash-screen p span.tow5{
    font-size: 50px;
    color: rgb(37, 1, 120);
    text-shadow: 1px 1px 10px rgb(249, 202, 115);
}
.splash-screen p span.tow6{
    font-size: 30px;
    color: rgb(165, 97, 42);
}
.splash-screen p span.tow7{
    font-size: 80px;
    color: rgb(65, 162, 237);
    text-shadow: 1px 1px 2px rgb(249, 202, 115);

}
.splash-screen p span.tow8{
    font-size: 30px;
    color: rgb(139, 138, 138);
}