section.hero {
  padding-top: 100px;
  padding-left: 40px;
  background: linear-gradient(30deg, rgba(2, 255, 171, 0.582),black, black);
  justify-content: space-between;
  transition: 1s;
}
section.hero:hover {
  /* padding-top: 150px;
  padding-left: 80px; */
  background: linear-gradient(30deg, rgba(2, 255, 213, 0.582),black, rgba(0, 0, 0, 0.473));
  justify-content: space-between;
  border-radius: 50px;
  transition: 1s;
}
section.hero .left-section{
  /* border: 1px solid yellow; */
  flex-grow: 1;
  /* padding-left: 500px; */
}
.left-section  .cv{
  font-family: Sixtyfour;

  color: rgb(128, 3, 3);
  font-size: 80px;
  
  font-weight: bolder;
}

section.hero .left-section .title{
  font-size: 50px;

}

section.hero .left-section .title span{
  background: linear-gradient(50deg, #ffffff, #ff8800 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
  


}


section.hero .goDown{
  position: relative;
  float: right;
  margin-right: -190px;
  opacity: 0.5;
  font-size: 35px;
  margin-top: -50px;
  padding-bottom: 20px;
  animation: up-and-down 1.6s linear infinite;

}
section.hero .left-section .disc{
  font-size: 15px;
  color: rgba(240, 248, 255, 0.705);
  padding: 15px;
  /* font-family: Marhey; */
  margin-top: -15px;

  



  /* padding-left: 500px; */
}
section.hero .left-section .lang{
  margin-left: -50px;   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 500px;
  margin-top: 20px;

  font-size: 18px;
}

section.hero .left-section .lang  li a {
  /* margin-top: 5px ; */
  /* background: linear-gradient(50deg, #ffffff, #ff8800 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background-color: #00000050;
  color: #ffffff;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.233);
  border-radius: 15px;
  transition: 2s;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.562) */
  opacity: 0.5;
}
section.hero .left-section .lang li a:hover {
  margin-left: 40px ;
  /* background: linear-gradient(50deg, #ffffff, #ff8800 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background-color: #cf8906da;
  color: #ffffff;
  padding: 8px;
  /* border: 1px solid rgba(255, 255, 255, 0.233); */
  border-radius: 15px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.562);
  opacity: 1;
}
section.hero .left-section .lang span{
  padding-left: 10px;
  /* margin-top: 10px; */
  color: #ffa600c9;
  font-size: 15px;
  margin-bottom: 50px;

}
section.hero .right-section img{
  position: relative;

  width: 350px;
  height: 250px;
  animation: up-and-down 5s linear infinite;

}

@keyframes up-and-down {
  0%, 100%{
      top:  0;
      opacity: 0.3;
  }
  50%{
      top: -50px;
      opacity: 1;

  }
  
}

@media (min-width: 330px) and (max-width: 1280px){
  
section.hero .goDown{
 display: none;

}
}
@media (max-width: 680px){
  section.hero .left-section .title{
    margin-left: -70px;
    margin-bottom: 30px;
  
  }
}
@media (max-width: 500px){
  section.hero:hover {

    background: linear-gradient(30deg, rgba(2, 255, 213, 0.582),black, rgba(0, 0, 0, 0.473));
    justify-content: space-between;
    border-radius: 50px;
    transition: 1s;
  }
  section.hero .left-section .title{
    font-size: 25px;
    margin-left: 15px;
    line-height: 2;
    width: 250px;

  
  }
  section.hero .left-section .disc{
    font-size: 10px;
    width: 300px;
    margin-left: -15px;
  }
  section.hero .left-section p{
    font-size: 9px;
    width: 300px;
    margin-left: -15px;

  }
.left-section  .cv{
  color: rgb(128, 3, 3);
  font-size: 30px;

  
  font-weight: bolder;
}
  section.hero .goDown{
    display: none;

  
  }
  section.hero .left-section .lang  {
    margin-left: -165px;    
    margin-top: 20px; 
    text-align: center;
    padding: 0 8px;
    font-size: 6px;
    border-radius: 15px;
    
  }
  main.main .right-section .container-card:first-child {
    margin-top: 200px ;
}
  /* section.hero .left-section .lang li a:hover {
    margin-left: -90px ;
    padding: 8px;
  } */

}