body{
    background: rgb(0, 0, 0);
}
body.active-modal{
    overflow-y: hidden;
}

.btn-modal{
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal .overlay{
    width: 100wv;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;


}

.overlay{
    background: rgb(0, 0, 0);
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    border-radius: 3px;
    padding: 14px 28px;
    width: 700px;
    height: 500px;
    background: white;
    text-align: center;
}
h2{
    color: black;
    margin: 50px auto;
    /* text-align: center; */
}
p{
    color: black;
    margin: 50px auto;

    /* text-align: center; */

}
.colse-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.colse-modal:active{
    display: none;
}