.splash-screen h1,h2,h3{
    color: wheat;
    font-size: 25px;
    
}
.splash-screen h1{
    margin-top: 150px;
}
.splash-screen h3{
    font-size: 30px;
    color: rgb(255, 166, 0);
}
.splash-screen h2 span{
    font-size: 35px;
    color: rgb(177, 106, 0);
}
/* .splash-screen span{
    font-size: 35px;
    color: rgb(82, 62, 33);
} */
.splash-screen button.lastPage{
    margin-top: 50px;
    padding: 20px;
    font-size: 40px;
    border-radius: 50%;
    border: 20px solid rgb(111, 80, 21);
}