/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(168, 211, 216);
} */
 

.wrapper{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 70px auto;
    align-items: center;
    /* background: linear-gradient(50deg,   rgb(0, 0, 0),rgba(255, 194, 194, 0.708), rgb(0, 0, 0)); */
    border-radius: 50px;
    /* border-right: 50px solid rgba(245, 222, 179, 0.147); */

}
.wrapper img.bg-img-1{
    position: absolute;
    left: 70px;
    /* right: -70px; */
    top: -70px;
    width: 400px;
    z-index: -100;

}
.wrapper video{
    position: absolute;
    left: 0px;
    
    /* right: -70px; */
    top: 0px;
border-radius: 50px;
    margin: 0 0 0 150px;
    filter: blur(10px);

    width: 80%;
    z-index: -100;

}
.container-projects{
    height: 400px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    background: linear-gradient(40deg,
     rgba(255, 0, 0, 0) ,
     rgba(91, 31, 31, 0));
    backdrop-filter: blur(50px);
    padding: 50px;
    margin-bottom: 159px;
    border-radius: 50px;
}
.card-project[for="c1"]{
    background-image: url(/public/images-projects/img-1.png) ;
}
.card-project[for="c2"]{
    background-image: url(/public/images-projects/img-0.png) ;
}
.card-project[for="c3"]{
    background-image: url(/public/images-projects/img-8.png) ;
}
.card-project[for="c4"]{
    background-image: url(/public/images-projects/img-4.png) ;
}
.card-project[for="c5"]{
    background-image: url(/public/images-projects/img-9.png) ;
}
.card-project[for="c6"]{
    background-image: url(/public/images-projects/img-7.png) ;
}
.card-project{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
    margin: 0 10px;
    transition: .6s cubic-bezier(.28, -0.03 , 0 , .99);
    box-shadow: 0px 10px 30px -5px rgba(0 , 0, 0, 0.8);

}

.card-project>.row{
    color: #223;
    display: flex;
    flex-wrap: nowrap;
}

.card-project>.row>.icon{
    background-color: #223;
    color: white;
    border-radius: 50px;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

.card-project>.row.desc{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateZ(30px);
    transition-delay: .3s;
    transition: all .3s ease;

}


.desc p{
    color: #b0b0ba;
    padding-top: 5px;
    margin-bottom: 20px;
}

.desc h4{
    text-transform: uppercase;
}
input{
    display: none;
}
input:checked+label{
    width: 600px;

}

input:checked+label .desc{
    opacity: 1;
    transform: translateY(0) !important;
}


@media (max-width: 480px){
    .wrapper{
        width: 100%;
        height: 100vh;
        display: block;
     
    
    
    }
    .container-projects{
        height: 400px;
        display: block;
        justify-content: start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card-project{
        width: 100%;
        border-radius: .75rem;
        background-size: cover;
        overflow: hidden;
        border-radius: 2rem;
        display: block;
        cursor: pointer;
        flex-direction: column;
        margin: 0 10px;
        transition: .6s cubic-bezier(.28, -0.03 , 0 , .99);
        box-shadow: 0px 10px 30px -5px rgba(0 , 0, 0, 0.8);
    
    }
    .card-project>.row{
        color: #223;
        display: flex;
        flex-direction: column;
    }
    
    
}